/*css 변수*/
:root {
  --text-color: #f8f4f5;
  --background-color: #263343;
  --accent-color: blanchedalmond;
}
* {
  font-family: "Rimouski";
}
body {
  background-color: #edeef1;
  /*#2c3e50;*/
  margin: 0;
}
/*
body {
  color: #34495e;
}
*/
a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  opacity: 1;
  transition: opacity 1s;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: -60px;
}

.navbar__logo img {
  padding-left: 15px;
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}
.navbar__icon {
  padding: 8px 12px;
  color: var(--text-color);
  font-size: 18px;
  display: flex;
}
.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  top: 30px;
  font-size: 24px;
  color: blueviolet;
}
.opa {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    z-index: 1;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icon {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toogleBtn {
    display: block;
  }
  .navbar__menu.active,
  .navbar__icon.active {
    display: flex;
  }
  .js-clock {
    margin: 0px auto;
    text-align: center;
    width: 70%;
  }
  .js-clock h1 {
    width: 100%;
    height: auto;
  }
}

.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.container {
  width: 300px;
  background-color: #fff;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
  /*
  animation: slidein 1s linear;
  
  animation-duration: 2s;
  animation-name: slidein;
*/
  position: relative;
  top: 140px;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 50%;
  }
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  position: relative;
  top: 20px;
}

.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: -40px;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
.js-clock {
  position: relative;
  text-align: center;
  top: 110px;
  font-size: 30pt;
}
